@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#222; text-decoration:none; }
a:hover { text-decoration:none;; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
body{
    min-width: 1200px;
}
header{
    height:130px;
    width:100%;
    box-sizing: border-box;
}
.head{
    width:1200px;
    height:100%;
    box-sizing: border-box;
    margin:0 auto;
    display: flex;
}
.head div:nth-child(1){
    height:100%;
    width:30%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.head div:nth-child(1) img{
    vertical-align: middle;
    height:39px;
    width:57px;
}
.head div:nth-child(1) span{
    font-size:14px;
    color:#222;
}
.head div:nth-child(1) span::first-line{
    font-size:21px;
    font-family: 楷体;
    font-weight: 600;
    color:#222;
}
.head div:nth-child(2){
    height:100%;
    width:70%;
    box-sizing: border-box;
    display: flex;
    justify-content:space-around;
    align-items: flex-end;
    flex-direction: column;
    color:#222;
}
.head div:nth-child(2) a:hover{
    color:#264377;
}
.head div:nth-child(2) ul li{
    float: left;
    margin-left:30px;
}
.wrap{
    height:514px;
    width:100%;
    margin:60px auto;
    overflow: hidden;
    position: relative;
    margin:0 auto;
}
.wrap ul{
    position:absolute;
} 
.wrap ul li{
    height:514px;
    width:100%;
}
.wrap ul li img{
    width:100%;
    height:100%;
}
.wrap ol{
    position:absolute;
    margin-left:47.5%;
    bottom:10px;
}
.wrap ol li{
    height:12px; 
    width: 12px;
    background:#cac6c6;
    margin-left:5px;
    color:#000;
    float:left;
    line-height:center;
    text-align:center;
    cursor:pointer;
    border-radius: 50%;
}
.wrap ol .on{
    background:#ec681d;
}
.range{
    height:630px;
    width:100%;
    box-sizing: border-box;
    border-top:1px solid #fff;
}
.range p{
    font-family: 微软雅黑;
    font-size:28px;
    text-align: center;
    margin-top:70px;
    color:#222;
}






.business{
    width:1200px;
    margin:30px auto 0 auto;
    overflow:hidden;
}
.business ul{
    width:1200px;
}
.business ul li{
    float:left;
    display:inline;
    width:300px;
    height:400px;
    overflow:hidden;
    position:relative;
    border:1px solid #ccc;
    box-sizing: border-box;
    border-right:none;
}
.business ul li:nth-child(1){
    background: #eee;
}
.business ul li:nth-child(3){
    background: #f1f1f1;
}
.business ul li:nth-child(4){
    border-bottom: none;
}
.business ul li:nth-child(4),
.business ul li:nth-child(5){
    height:200px;
    border:1px solid #ccc;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}
.business ul li:nth-child(4) .photo,
.business ul li:nth-child(5) .photo{
    background: #22ad38;
    height:200px;
    padding: 36px;
    box-sizing: border-box;
    font-size: 17px;
    color:#fff

}
.business ul li:nth-child(5) .photo{
    background: #01479d;
}

.business ul li .photo{
    width:300px;
    height:400px;
    overflow:hidden;
}
.business ul li:nth-child(4) .photo,
.business ul li:nth-child(5) .photo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.business ul li:nth-child(4) .photo div{
    height:65px;
    width:65px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.business ul li:nth-child(4) .photo div img{
    width:85%;
    height:85%;
}
.business ul li:nth-child(5) .photo div img{
    width: 100%;
    height:100%;
}
.photo .internet{
    display: inline-block;
    width:135px;
    height:70px;
    border-bottom:1px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
}
.photo .internet span:nth-child(1){
    font-size:18px;
    color:#222;
}
.photo .internet span:nth-child(2){
    font-size:12px;
    color:#666
}
.business .rsp{
    width:300px;
    height:400px;
    overflow:hidden;
    position: absolute;
    background:rgb(103,193,202);
    top:0px;
    left:0px;
    color:#fff;
    
}
.business ul li:nth-child(4) .rsp,
.business ul li:nth-child(5) .rsp{
    height: 200px;
}
.business .text{
    position:absolute;
    width:300px;
    height:430px;
    left:-300px;
    top:0px;
    overflow:hidden;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#fff;
}
.business ul li:nth-child(4) h3,
.business ul li:nth-child(5) h3{
    color:#222;
}
.business ul li:nth-child(4) .text,
.business ul li:nth-child(5) .text{
    height:200px;
}
.business .text h3{
    width:300px;
    height:50px;
    line-height:50px;
    color:#FFFFFF;
    font-size:20px;
    margin-top:50px;
}
.business .text a{
    text-decoration:none
}
.business .text div{
    text-align:center;
    color:#FFFFFF;
    font-size:18px;
}












.programme{
    height:655px;
    width:100%;
    background: #0068b7;
}
.programme aside{
    height:100%;
    width:1200px;
    margin:0 auto;
    border-top:1px solid #0068b7;
}
.programme aside p{
    font-family: 微软雅黑;
    font-size:28px;
    text-align: center;
    margin-top:70px;
    color:#fff;
}
.programme aside ul{
    height:400px;
    width:1050px;;
    box-sizing: border-box;
    margin:0 auto; 
     margin-top:55px;
     display: flex;
     justify-content: space-between;
}
.programme aside ul li{
    height:100%;
    width:250px;
    box-sizing: border-box;
    float: left;
    position: relative;
}
.programme aside ul li div{
    height:250px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.programme aside ul li div h6{
    height:180px;
    width:180px;
    border:5px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.programme aside ul li div h6 img{
    position: relative;
    z-index: 3;
    width:50%;
    height:50%;
}
.programme aside ul li:nth-child(4) div h6 img{
    height:40%;
}
.programme aside ul li p{
    position: absolute;
    bottom: 0;
    height:0px;
    z-index: 1;
    width: 100%;
}
.programme aside ul li span{
    position: relative;
    z-index: 3;
    color:#95b3d8;
    font-size:12px;
    line-height: 20px;
    display: block;
    padding: 0 10px;
    box-sizing: border-box;

}
.programme aside ul li span h3{
    position: relative;
    z-index: 3;
    font-size:18px;
    text-align: center;
    color:#fff;
}
.programme aside ul li:hover p{
    width:100%;
    height:100%;
    background:rgb(242,145,74);
    transition-duration: 1s;
}
.programme aside ul li:hover h6{
    border:none;
    
}
.programme aside ul li:hover span{
    color:#fff;
}
.programme aside ul li:hover img{
    transform: scale(1.5);
    transition-duration: 1s;
}
.information{
	width: 100%;
	height: 640px;
	/*border: 1px solid red;*/
}
.information .news{
	width: 1200px;
	height: 640px;
	/*border: 1px solid #000;*/
	margin: 0 auto;
}
.Journalism{
    display: inline-block;
    width:100%;
    font-family: 微软雅黑;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    color: #222;
}





/*新闻资讯开始*/
.menu {
    height: 35px;
    line-height: 50px;
    width:100%;
}

.menu ul {
    list-style: none;
        width:320px;
        margin:0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
}

.menu ul li {
    float: left;
    color: #222;
    height:35px;
    width: 100px;
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
}
.menu ul li:hover {
    cursor: pointer;
    background: #ccc;
}

.details{
    height: 460px;
    /*background: #ccc;*/
    overflow: hidden;
}

.details {
    display: none;
}

.details:first-child {
    display: block;
}

.menu a:hover {
    background: #ccc;
}
.info{
    margin-top:60px;
}

.details{
	width: 1230px;
	height: 430px;
	/*border: 1px solid blue;*/
    margin-top: 20px;
}
.left{
	float: left;
	width: 616px;
	height: 100%;
	/*border: 1px solid pink;*/
}
.left img{
    height:200px;
    width:300px;
}
.left ul{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.left ul li{
	width: 300px;
	height: 100%;
	/*border: 1px solid #000;*/
}
.left ul li>a{
	display: block;
	margin-top: 15px;
	color: #333;
    display: inline-block;
    width:300px;
    height:40px;
}
.left ul li a:hover{
	color: #264377;
}
.left ul li>span{
	display: block;
	margin-top: 20px;
	font-size: 14px;
	color: #777;
	line-height: 18px;
}
.left ul li p{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	color: #777;
	font-size: 14px;
}
.left ul li p>a{
	color: #333;
}
.right{
	float: right;
	width: 590px;
	height: 100%;
	/*border: 1px solid pink;*/
}
.right>ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.right>ul>li{
	width: 520px;
	height: 100px;
	/*border: 1px solid #000;*/
}
.date{
	float: left;
	width: 92px;
	height: 92px;
	border: 1px solid #999;
	text-align: center;
}
.date h6{
	font-size: 32px;
	margin-top: 12px;
}
.date>p{
	font-size: 14px;
	margin-top: 5px;
}
.right>ul>li>p{
	width: 400px;
	height: 20px;
	/*border: 1px solid #000;*/
	margin-top: 10px;
	float: right;
}
.right>ul>li>span{
	display: block;
	margin-top: 10px;
	font-size: 12px;
	width: 400px;
	height: 60px;
	color: #999;
	line-height: 20px;
	float: right;
}
.right>ul>li:hover{
	background: #0068B7;
}
.right>ul>li:hover span{
	color: #fff;
}
.right>ul>li:hover .date{
	border:none;
}
.right>ul>li:hover p{
	color: #fff;
}
.right>ul>li:hover .date h6{
	color: #fff;
}
/*新闻资讯结束*/
.case{
    height:830px;
    width:100%;
    box-sizing: border-box;
    background: #0068b7;
}
.case aside{
    height:100%;
    width:1200px;
    margin:0 auto;
    border-top:1px solid blue;
    position: relative;
}
.button{
    position: absolute;
    right: 0;
    top:95px;
    color:#222;
    font-size:13px;
    width:80px;
    height:22px;
}
.case aside p{
    font-family: 微软雅黑;
    font-size:28px;
    text-align: center;
    margin-top:30px;
    color:#fff;
}
#box{
	width:100%;
	height:535px;
	position:relative;
	margin:80px auto;
	overflow:hidden;
}
#ul1{
	height:535px;
	position:absolute;
	left:0px;
	top:0px;
}
#ul1 img{
	height:100%;
	width:100%;
    
}
#ul1>li{
	width:1200px;;
	height:100%;
	float:left;
	
    box-sizing: border-box;
}
.lunbo li:hover img{
	transform: scale(1.3);
	transition-duration: 0.5s;
}
.lunbo{
    height:100%;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}
.lunbo li{
    height:44%;
    width:31%;
    box-sizing: border-box;
    margin-top:9px;
    position: relative;
    overflow: hidden;
}
.lunbo li:hover div{
    display: block;
}
.lunbo li div{
    height:60px;
    width:100%;
    position: absolute;
    bottom: 0;
    left:0;
    background: rgba(0,0,0,0.8);
    color:#fff;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size:12px;
    line-height: 20px;
    display: none;
}
.image{
    height:100px;
    width:100%;
    position: absolute;
    bottom: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    height:70px;
    width:120px;
}
#ul2{
	width:350px;;
	height:35px;
	position:absolute;
	left:36%;
	top:88px;
}
#ul2>li{
	width:112px;
	height:100%;
	margin-left:5px;
	float:left;
	line-height:32px;
	text-align:center;
	box-sizing:border-box;
	font-size:13px;
    color:#fff;
}
#ul2>li>a{
	color:#ddd;
}
#ul2>li:first-child{
	margin:0px;
}
.customer{
    height:555px;
    width:100%;
    box-sizing: border-box;
}
.customer aside{
    height:100%;
    width:1200px;
    margin:0 auto;
}
.customer aside p{
    font-family: 微软雅黑;
    font-size:28px;
    text-align: center;
    margin-top:70px;
    color:#222;
}
.customer aside ul{
    height:200px;
    width:1200px;
    border:1px solid #ccc;
    border-left:none;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    margin-top:35px;
}
.customer aside ul li{
    height:50%;
    width:12.5%;
    border:1px solid #ccc;
    box-sizing: border-box;
    border-top:none;
    border-right:none;
}
.customer aside ul li img{
    height:100%;
    width:100%;
}
.code{
    height:300px;
    width:100%;
    background: url(../img/19.png);
    background-size: 100% 100%;
}
.code aside{
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.6)
}
.code aside header{
    width:100%;
    height:45px;
    background: #000;
}
.code aside header div{
    height:100%;
    width:1200px;
    margin: 0 auto;
    color:#fff;
    display: flex;
    align-items: center;
}
.contact{
    height:255px;
    width:1200px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}
.contact span{
    display: inline-block;
    height:100%;
    width:50%;
    box-sizing: border-box;
}
.contact span p{
    height:100%;
    width:40%;
    color:#fff;
    padding: 50px 0;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 12px;
}
.contact span:nth-child(1){
    display: flex;
    justify-content: flex-end;
    height:80%;
}
.href{
    margin-top:-30px;
    color:#fff;
}
.contact span:nth-child(2){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer{
    height:120px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#222;

}
footer p{
    height:45%;
    width:1200px;
    margin: 0 auto;
    
}
footer p:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer p:nth-child(2){
    text-align: right;
}
.nav{
    height:330px;
    width:50px;
    position: fixed;
    right:10px;
    bottom: 70px;
    background: #fff;
}
.nav li{
    height:50px;
    width:100%;
    border:1px solid #ccc;
    border-bottom: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav li a{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.nav li img{
    width: 60%;
}
.nav li:nth-child(5){
    height:80px;
    background: #0754b0;
    border-left:1px solid #0754b0;
    border-right:1px solid #0754b0;
}
.nav li:nth-child(6){
    border-bottom:1px solid #ccc;
}


































/*.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}
*html .clearfix{height:1%;}
.clearfix{display:block;}
*+html .clearfix{min-height:1%;}*/

